.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D1E4D5;
    padding: 1rem;
    border-radius: 5%;
    filter: drop-shadow(5px 5px 5px rgba(0, 65, 45, 0.356));
    margin: 0.5rem;
}
